* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
nav {
  padding: 50px;
  text-align: center;
  font-size: 1.3rem;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

.eshop-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  justify-content: center;
  align-content: center;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  min-height: 700px;
  border: 1px solid #ebe6e7;
  border-radius: 7px;
  padding: 20px;
}

/* .product-image {
  height: 200px;
  max-width: 200px;
} */

img {
  width: 100%;
  height: 100%;
  object-fit:contain;
}